<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Registration and login tests" verbose="1">
    <test name="Registration and Login tests" annotations="JDK" preserve-order="true">
        <packages>
            <package name="ru.mail.regtest2020.tests"/>
        </packages>
    </test>
</suite>